body{
    margin:0;
    background-color: #000000;
    font-family:'poppins';
}
#wave_top1{
    position:fixed;
    top:0;
    z-index:0;
}
#wave_top2{
    position:absolute;
    top:5vw;
    z-index:-1;
}
#nav_container{
    color:black;
    position:fixed;
    top:0;
    z-index:1;
    font-family: 'Poppins';
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    align-items:center;
    font-size:1.5vw;
}
a{
    text-decoration: none;
    color:black;
}
#navmid{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:15em;
}
#nav1{
    font-family:'Yellowtail';
    font-size:1em;
}
#get_in_touch{
    background-color: lawngreen;
    text-align:center;
    padding:0 0.5em;
    border-radius:20px;
               /*h-offset v-offset blur spread color */
    box-shadow: 0.25em 0.125em 0.5em 0 #262626;
}
#quote{
    color:white;
    margin-top:25vw;
    z-index:2;
    font-size:7vw;
}
q{
    font-family:'Bebas Neue';
}
#cite1{
    font-size:0.25em;
    font-family:'Yellowtail';
    margin-left:50vw;
}
#intro{
    color:white;
    font-size:3.5vw;
    font-family:'Jost';
    padding:3.5em;
    text-align:left;
}
#experience{
    color:#ffffff;
    font-size:3.5vw;
    font-family:'Jost';
    padding:3em;
    text-align:center;
}
h4{
    color:rgb(110, 106, 106);
    text-align:center;
}
#companies{
    display:flex;
    justify-content:center;
}
.company_img{
    height:2.5em;
    width:5em;
}
.company{
    height:2.5em;
    width:5em;
}
@media screen and (max-width:600px) and (orientation:portrait){
    #wave_top2{
        top:1em;
    }
    #nav_container{
        font-size:2.2vw;
    }
    .company_img{
        height:1.5em;
        width:3em;
    }
    .company{
        height:1.5em;
        width:3em;
    }
    #quote{
        font-size:11vw;
    }
    #cite1{
        font-size:0.5em;
    }
    #intro{
        font-size:5vw;
    }
    #experience{
        font-size:5vw;
    }
}
@media screen and (min-width:1500px) and (orientation:landscape){
    #intro, #experience{
        font-size: 2vw;
    }
    .company_img, .company{
        height:5em;
        width:10em;
    }
}